{% extends 'base.html' %}

{% block container %}
<div class="section">
			<div class="container">
				<h2>{{user.username}} &bull; {{ user.mail }}</h2>
				    <div class="row">
                        <form method="post">
                        {% csrf_token %}
						<div class="col s12 m12 13" style="min-width: 300px">
							<div class="card">
								<p class="card-content">
  {{ form }}

                                   <br/>
    <button class="btn waves-effect waves-light" type="button" onclick="location.href={% url 'settings:index' %}">Zurück<i class="material-icons left">arrow_back</i></button>
    <button class="btn waves-effect waves-light" type="submit"name="saveUser">Passwort Speichern<i class="material-icons left">save</i></button>

                                </p>
								</div>
							</div>
               </form> </div>
			</div>
</div>

{% endblock %}