{% extends 'base.html' %}
{% block container %}

<form method="post">
{% csrf_token %}
    <div class="input-field col s12">
        <input id="oldPassword" type="hidden" class="validate">
        <label for="oldPassword">Altes Passwort</label>
    </div>
    <div class="input-field col s12">
        <input id="newPassword1" type="hidden" class="validate">
        <label for="newPassword1">Neues Passwort</label>
    </div>
    <div class="input-field col s12">
        <input id="newPassword2" type="hidden" class="validate">
        <label for="newPassword2">Neues Passwort wiederholen</label>
    </div>

</form>
{% endblock %}