<form method="post">
    <h4>{{ user.username }} &bull; {{ user.mail }}</h4>
    <br/>
  {% csrf_token %}
    <input id="mail1" type="email" class="validate" name="mail">
    <label for="mail1">Neue E-mail</label>
    <br/>
    <input id="mail2" type="email" class="validate" name="newMail2">
    <label for="mail2">Neue Email Wiederholen</label>
    <br/>
    {{ error }}
    <button class="btn waves-effect waves-light" type="button" onclick="location.href={% url 'settings:index' %}">Zurück<i class="material-icons left">arrow_back</i></button>
    <button class="btn waves-effect waves-light" type="submit"name="saveUser">änderung bestätigen<i class="material-icons left">save</i></button>
</form>
