{% extends "base.html" %}
{% load static %}
{% block siteTitle %}Analyse{% endblock %}
{% block moreStylesheets %}
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    {% include 'includeDefs/javascript-plotly.html' %}
{% endblock %}
{% block naviSpace %}
    {% include 'includeDefs/normalNavi.html' %}
{% endblock %}
{% block container %}

<form method="post" action="{% url 'analysis:refresh' %}"  id="analyseAuswahlForm">
    {% csrf_token %}
    <textarea style="display: none;" id="jsonHeader" name="jsonHeader"></textarea>
    <textarea style="display: none;" id="jsonEinheiten" name="jsonEinheiten"></textarea>
    <input type="hidden" id="zeitreihenSpalte" name="zeitreihenSpalte"/>
    <textarea style="display: none;" id="jsonData" name="jsonData"></textarea>
    <h2>Schwingungsdaten analysieren</h2>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="divider"></div>
                    <div class="section">
                        <div id="firstGraph"></div>

                        <div class="row">
                            <div class="col s5"></div>
                            <div class="col s2">
                                    <button id="submitButton" name="refresh" class="btn waves-effect waves-light right" type="submit" style="position: absolute; z-index: auto"><i class="material-icons left">autorenew</i>Berechnen</button>
                            </div>
                            <div class="col s5"></div>
                        </div>
                    </div>
                    <div class="divider" style="margin-top: 10px"></div>
                    <div class="section">
                        <h5>Analysewerkzeuge für das gesamte Experiment:</h5>
                        <div class="row" style="margin-top: 20px">
                            <div class="col s2" style="margin-top: 25px">
                                <input type="checkbox" class="filled-in" id="resampling" name="resampling"/>
                                <label for="resampling">Resampling anwenden</label>
                            </div>
                            <div class="col s2">
                                <div class="input-field">
                                    <input id="resamplingScale" name="resamplingScale" type="text" placeholder = "1">
                                    <label for="resamplingScale">Skalierung</label>
                                </div>
                            </div>
                            <div class="col s4" style="margin-top: 20px">
                                <input type="checkbox" class="filled-in" id="fourier" name="fourier"/>
                                <label for="fourier">Fourier-Transformation anwenden</label>
                            </div>
                            <div class="col s3 input-field">
                                <select id="fourierval">
                                    <option value="absolute">Absolutteil plotten</option>
                                    <option value="real">Realteil plotten</option>
                                    <option value="imaginary">Imaginärteil plotten</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section" id="dataColsSection">
                        <h5 style="">Filter für einzelne Datenreihen:</h5>
                        <div class="row">
                            <div class="col s12" style="margin-left: 20px">
                                Die Eingabefelder sind für Experten. Wenn du die Eingabefelder leer lässt, benutzen wir Standardwerte für die Filter.
                            </div>
                        </div>
                        <ul id="spaltenCollapsible" class="collapsible popout" data-collapsible="expandable">
                            <li id="spaltenColTemplate" style="display:none;">
                                <div class="collapsible-header colHeader">SPALTENTITEL</div>
                                <div class="collapsible-body row">
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="hochpass" name="hochpass"/>
                                        <label class="hochpassLabel" for="hochpass">Hochpass-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="hochpassOrder" name="hochpassOrder" type="text" placeholder="4">
                                                <label class="hochpassOrderLabel" for="hochpassOrder">Rang</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="hochpassCofreq" name="hochpassOrder" type="text">
                                                <label class="hochpassCofreqLabel" for="hochpassCofreq">Filterfreq. (Hz)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="tiefpass" name="tiefpass"/>
                                        <label class="tiefpassLabel" for="tiefpass">Tiefpass-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="tiefpassOrder" name="tiefpassOrder" type="text" placeholder="4">
                                                <label class="tiefpassOrderLabel" for="tiefpassOrder">Rang</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="tiefpassCofreq" name="tiefpassOrder" type="text">
                                                <label class="tiefpassCofreqLabel" for="tiefpassCofreq">Filterfreq. (Hz)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="gauss" name="gauss"/>
                                        <label class="gaussLabel" for="gauss">Gauss-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="gaussStd" name="gaussStd" type="text" placeholder="2">
                                                <label class="gaussStdLabel" for="gaussStd">Std.</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="gaussM" name="gaussM" type="text" placeholder="None">
                                                <label class="gaussMLabel" for="gaussM">Punktanzahl</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div style="display:none" class="row" id="spaltenColTemplate">
                            <div class="section col s12">
                                <p>
                                    <h6 class="colHeader">Spaltenname</h6>
                                </p>
                                <p>
                                    <div class="row" style="padding:0; margin:0">
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="hochpass" name="hochpass"/>
                                            <label class="hochpassLabel" for="hochpass">Hochpass-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="hochpassOrder" name="hochpassOrder" type="text">
                                                    <label class="hochpassOrderLabel" for="hochpassOrder">order</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="hochpassCofreq" name="hochpassOrder" type="text">
                                                    <label class="hochpassCofreqLabel" for="hochpassCofreq">cofreq</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="tiefpass" name="tiefpass"/>
                                            <label class="tiefpassLabel" for="tiefpass">Tiefpass-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="tiefpassOrder" name="tiefpassOrder" type="text">
                                                    <label class="tiefpassOrderLabel" for="tiefpassOrder">order</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="tiefpassCofreq" name="tiefpassOrder" type="text">
                                                    <label class="tiefpassCofreqLabel" for="tiefpassCofreq">cofreq</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="gauss" name="gauss"/>
                                            <label class="gaussLabel" for="gauss">Gauss-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="gaussStd" name="gaussStd" type="text">
                                                    <label class="gaussStdLabel" for="gaussStd">std</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="gaussM" name="gaussM" type="text">
                                                    <label class="gaussMLabel" for="gaussM">m</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


    # button
                        <div class="divider" id=""></div>
                <div class="section" id="">
                    <b>Daten zum Speichern als neues Experiment eingeben:</b>
                    <form action="{% url 'experiments:newESave' %}" method="post" enctype="multipart/form-data" id="">
                        {% csrf_token %}
                        <!-- hidden vars we send to python to create a new experiment -->
                            <textarea style="display: none;" id="jsonEinheiten" name="jsonEinheiten">{{jsonEinheitenRealJson}}</textarea>
                            <textarea style="display: none;" id="jsonMeasurementInstruments" name="jsonMeasurementInstruments">{{jsonMInstrumentsRealJson}}</textarea>
                            <textarea style="display: none;" id="jsonData" name="jsonData">{{data}}</textarea>
                            <input type="hidden" id="timeRowCol" name="zeitreihenSpalte" value="{{timerow}}"/>
                            <input type="hidden" id="projectId" name="projectId" value="{{ projectId }}"/>
                            <input type="hidden" id="dateFormat" name="dateFormat" value="{{ dateFormat }}"/>
                            <input type="hidden" id="erfassungsDatum" name="erfassungsDatum" value="{{dateCreated}}">
                            <input type="hidden" id="jsonHeader" name="jsonHeader" value='{{jsonHeaderRealJson}}'/>
                        <!-- visible fields we send to python to create a new experiment -->
                            <div class="input-field">
                                <input id="datensatzName" class="validate" name="datensatzName" type="text" value="{{experimentName}} - modifiziert" data-length="40"/>
                                <label for="datensatzName">Name des Experimentes</label>
                            </div>
                            <div class="input-field">
                                <textarea type="text" class="materialize-textarea" id="experimentDescr" name="experimentDescr">Aus "{{experimentName}}" (Experiment-ID: {{experimentId}}) entstanden.</textarea>
                                <label for="experimentDescr">Weitere Informationen:</label>
                            </div>
                            <button class="btn waves-effect waves-light" name="speichern" type="submit" style="position: relative; z-index: auto;">als Experiment speichern <i class="material-icons right">save</i></button>
                    </form>
                </div>
                        # button
<input type="hidden" value="{{ experimentId }}" id="experimentId" />


{% endblock %}
{% block sideNavBlock %}
    {% include 'includeDefs/sideNav.html' %}
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
    {% include 'includeDefs/jquery-validation.html' %}
    <script>
        var spaltenTitel = JSON.parse('{{ jsonHeader|safe }}');
        var spaltenEinheiten = JSON.parse('{{ jsonEinheiten|safe }}');
        var dataArray = JSON.parse('{{ jsonData|safe }}');
        var zeitreihenSpalte = {{ zeitreihenSpalte|safe }};
        var anzSpalten = dataArray[0].length;
    </script>
    <script type="text/javascript" src="{% static 'analysis/index.js' %}">
            </script>
    <script type="text/javascript" src="{% static 'analysis/validation.js' %}">
            </script>
{% endblock %}
