{% extends "base.html" %}
{% load static %}
{% block siteTitle %}Analyse{% endblock %}
{% block moreStylesheets %}
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    {% include 'includeDefs/javascript-plotly.html' %}
{% endblock %}
{% block naviSpace %}
    {% include 'includeDefs/normalNavi.html' %}
{% endblock %}
{% block container %}

<form method="post" action="{% url 'analysis:refresh' %}" id="analyseAuswahlForm">
    {% csrf_token %}
    <textarea style="display: none;" id="jsonHeader" name="jsonHeader"></textarea>
    <textarea style="display: none;" id="jsonEinheiten" name="jsonEinheiten"></textarea>
    <input type="hidden" id="zeitreihenSpalte" name="zeitreihenSpalte"/>
    <textarea style="display: none;" id="jsonData" name="jsonData"></textarea>
    <h2>Schwingungsdaten analysieren</h2>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="section" style="padding-top:0">
                        Wähle nun aus, welche Analyse-Features angewendet werden sollen.
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <div id="firstGraph"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Analysewerkzeuge für das gesamte Experiment:</h5>
                        <div class="row">
                            <div class="col s6">
                                <input type="checkbox" class="filled-in" id="resampling" name="resampling"/>
                                <label for="resampling">Resampling anwenden</label>
                                <div class="input-field">
                                    <input id="resamplingScale" name="resamplingScale" type="text">
                                    <label for="resamplingScale">Skalierung</label>
                                </div>
                            </div>
                            <div class="col s6">
                                <input type="checkbox" class="filled-in" id="fourier" name="fourier"/>
                                <label for="fourier">Fourier-Transformation anwenden</label>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section" id="dataColsSection">
                        <h5 style="">Filter für einzelne Datenreihen:</h5>
                        <div class="row">
                            <div class="col s8">
                                Die Eingabefelder sind für Experten.<br/>
                                Wenn du die Eingabefelder leer lässt, benutzen wir Standardwerte für die Filter.
                            </div>
                            <div class="col s4">
                                <button class="btn waves-effect waves-light right" type="submit" style="position: relative; z-index: auto;"><i class="material-icons left">autorenew</i>anwenden</button>
                            </div>
                        </div>
                        <ul id="spaltenCollapsible" class="collapsible popout" data-collapsible="expandable">
                            <li id="spaltenColTemplate" style="display:none;">
                                <div class="collapsible-header colHeader">SPALTENTITEL</div>
                                <div class="collapsible-body row">
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="hochpass" name="hochpass"/>
                                        <label class="hochpassLabel" for="hochpass">Hochpass-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="hochpassOrder" name="hochpassOrder" type="text">
                                                <label class="hochpassOrderLabel" for="hochpassOrder">Rang</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="hochpassCofreq" name="hochpassOrder" type="text">
                                                <label class="hochpassCofreqLabel" for="hochpassCofreq">Schnittfrequenz</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="tiefpass" name="tiefpass"/>
                                        <label class="tiefpassLabel" for="tiefpass">Tiefpass-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="tiefpassOrder" name="tiefpassOrder" type="text">
                                                <label class="tiefpassOrderLabel" for="tiefpassOrder">order</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="tiefpassCofreq" name="tiefpassOrder" type="text">
                                                <label class="tiefpassCofreqLabel" for="tiefpassCofreq">Schnittfrequenz</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <input type="checkbox" class="filled-in" id="gauss" name="gauss"/>
                                        <label class="gaussLabel" for="gauss">Gauss-Filter</label>
                                        <div class="row" style="padding:0; margin:0">
                                            <div class="input-field col s6">
                                                <input id="gaussStd" name="gaussStd" type="text">
                                                <label class="gaussStdLabel" for="gaussStd">Standardabweichung</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="gaussM" name="gaussM" type="text">
                                                <label class="gaussMLabel" for="gaussM">Punktanzahl</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div style="display:none" class="row" id="spaltenColTemplate">
                            <div class="section col s12">
                                <p>
                                    <h6 class="colHeader">Spaltenname</h6>
                                </p>
                                <p>
                                    <div class="row" style="padding:0; margin:0">
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="hochpass" name="hochpass"/>
                                            <label class="hochpassLabel" for="hochpass">Hochpass-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="hochpassOrder" name="hochpassOrder" type="text">
                                                    <label class="hochpassOrderLabel" for="hochpassOrder">order</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="hochpassCofreq" name="hochpassOrder" type="text">
                                                    <label class="hochpassCofreqLabel" for="hochpassCofreq">cofreq</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="tiefpass" name="tiefpass"/>
                                            <label class="tiefpassLabel" for="tiefpass">Tiefpass-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="tiefpassOrder" name="tiefpassOrder" type="text">
                                                    <label class="tiefpassOrderLabel" for="tiefpassOrder">order</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="tiefpassCofreq" name="tiefpassOrder" type="text">
                                                    <label class="tiefpassCofreqLabel" for="tiefpassCofreq">cofreq</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <input type="checkbox" class="filled-in" id="gauss" name="gauss"/>
                                            <label class="gaussLabel" for="gauss">Gauss-Filter</label>
                                            <div class="row" style="padding:0; margin:0">
                                                <div class="input-field col s6">
                                                    <input id="gaussStd" name="gaussStd" type="text">
                                                    <label class="gaussStdLabel" for="gaussStd">std</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="gaussM" name="gaussM" type="text">
                                                    <label class="gaussMLabel" for="gaussM">m</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block sideNavBlock %}
    {% include 'includeDefs/sideNav.html' %}
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
    {% include 'includeDefs/jquery-validation.html' %}
    <script>
        var spaltenTitel = JSON.parse('{{ jsonHeader|safe }}');
        var spaltenEinheiten = JSON.parse('{{ jsonEinheiten|safe }}');
        var dataArray = JSON.parse('{{ jsonData|safe }}');
        var zeitreihenSpalte = {{ zeitreihenSpalte|safe }};
        var anzSpalten = dataArray[0].length;
    </script>
    <script type="text/javascript" src="{% static 'analysis/index.js' %}">
            </script>
    <script type="text/javascript" src="{% static 'analysis/validation.js' %}">
            </script>
{% endblock %}