{% extends "base.html" %}
{% block siteTitle %}Über uns{% endblock %}

{% block container %}
    <h2>Über uns </h2>
    <p>Die Webanwendung Rattler wurde im Rahmen des Bachelor-Praktikums für Wirtschaftsinformatiker an der Technischen Universität Darmstadt
        in Zusammenarbeit mit dem Fraunhofer-Institut für Betriebsfestigkeit und Systemzuverlässigkeit LBF entwickelt. Die Webseite gehört
        dem OpenAdaptronik-Blog an.</p>

    <p>Rattler soll die Analyse von Schwingungsdaten für jedermann erleichtern. Der Anwendungsbereich liegt hierbei vor allem auf der interaktiven
        Analyse und Darstellung von Schwingungsdaten mit anschließender Empfehlung eines Dämpfungssystems.</p>
    <a href="/">Zurück zur Startseite</a>
{% endblock %}