<!doctype html>
<html lang="de">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Rattler &bull; {% block siteTitle %}{% endblock %}</title>
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<style>
		</style>
	</head>
	<body>
		<!-- NAVBAR -->
		<div class="navbar-fixed"><nav>
			<div class="nav-wrapper">
				<!-- Rattler-Logo -->
					{% include 'includeDefs/logo.html' %}
                <!-- Navigation(en) -->
                    {% block naviSpace %}{% endblock %}
			</div>
		</nav></div>

		<!-- INHALT -->
		<div class="section container">
			{% block container %}{% endblock %}
		</div>

		<!-- FOOTER -->
		{% include 'includeDefs/footer.html' %}

		<!-- SKRIPTE einbinden -->
        {% include 'includeDefs/javascripts.html' %}
	</body>
</html>


























