

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Rattler</title>
		<!-- Add to homescreen for Chrome on Android 
			<meta name="mobile-web-app-capable" content="yes">
			<link rel="icon" sizes="192x192" href="images/android-desktop.png"> -->
		<!-- Add to homescreen for Safari on iOS 
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<meta name="apple-mobile-web-app-title" content="Material Design Lite">
			<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png"> -->
		<!-- Tile icon for Win8 (144x144 + tile color)
			<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
			<meta name="msapplication-TileColor" content="#3372DF"> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" href="style.css">
		<style>
		</style>
	</head>
	<body>
<!-- NAVBAR -->
		<div class="navbar-fixed"><nav>
			<div class="nav-wrapper">
				<!-- Rattler-Logo -->
					<a id="logo-container" href="#" class="brand-logo center">
						<script>
							xhr = new XMLHttpRequest();
							xhr.open("GET","img/logo.svg",false);
							xhr.overrideMimeType("image/svg+xml");
							xhr.send("");
							document.getElementById("logo-container").appendChild(xhr.responseXML.documentElement);
						</script>
						<div id="logoText">RATTL∃Я</div>
					</a>
				<!-- Haupt-Navigation auf grossem Bildschirm -->
					<ul id="nav" class="left hide-on-med-and-down">
						<li class=""><a href="../register/">Registrieren</a></li>
					</ul>
				<!-- Spater mit flask: Falls User eingeloggt: hier Menue wie bei Dashboard & sonst überall :) -->
				<!-- Login-Menue. -->
					<!--<div class="login-menu right" style="display:flex;align-items:center;">
						<div style="">Login:</div>
						<div class="row" style="margin: 0;">
							<div class="col s6">
								<div class="input-field">
									<input id="input_text" type="text" data-length="40"/>
									<label for="input_text">Username</label>
								</div>
							</div>
							<div class="col s6">
								<div class="input-field">
									<input id="input_text" type="password" data-length="40"/>
									<label for="input_text">Passwort</label>
								</div>
							</div>
						</div>
					</div>-->
			</div>
		</nav></div>

<!-- INHALT -->
		<div class="section">
			<div class="container">
				<h3>Von Deinen Schwingungs&shy;daten zur besten Schwingungs&shy;dämpfung.</h3>
					<div class="card">
						<!-- TODO: Schritte über die ersten 3 Bilder!
						http://materializecss.com/badges.html
						-->
						<div class="row card-content promo-row">
							<div class="col s12 m12 l3" style="/*min-width: inherit;*/">
								<div class="promo-pic-space"><-- csv duifgsdi soijdfi --> 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764;</div>
								<h5>Daten hochladen</h5>
								Als .csv, .xls oder .xlsx
							</div>
							<div class="col s12 m12 l3" style="/*min-width: inherit;*/">
								<div class="promo-pic-space">Bild von einem Grapheng</div>
								<h5>Visualisieren &amp; Analysieren</h5>
							</div>
							<div class="col s12 m12 l3" style="/*min-width: inherit;*/">
								<div class="promo-pic-space">Bild von Empfehlungen</div>
								5 Empfehlungen zur
								<h5>Open&shy;Source-Schwingungs&shy;minderung</h5>
							</div>
							<div class="col s12 m12 l3" style="/*min-width: inherit;*/">
								<div class="promo-pic-space">Feed (nice2have: fullscreen-tauglich)</div>
								Schwingungsdaten
								<h5>teilen &amp; vergleichen</h5>
							</div>
						</div>
					</div>
				<h3>Alles kostenlos und im Browser.</h3>
				<div class="row">
					<div class="col s12 m12 l8">
						<div class="card">
							<div class="card-content">
								{% block register %}
                                {% endblock %}
							</div>
						</div>
					</div>
					<div class="col s12 m12 l4">
						<div class="card">
							<div class="card-content">
                                {% block login %}
                                {% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
<!-- FOOTER -->
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="">Partner</h5>
						<div class="row partnerLinks">
							<div class="col s12 m4 l4">
								<a href="https://www.openadaptronik.de/" target="_blank">
									<div id="partnerLogoOA" href="#" class="partnerSvg-container hide-on-small-only">
										<script>
											xhr = new XMLHttpRequest();
											xhr.open("GET","img/oa-logo.svg",false);
											xhr.overrideMimeType("image/svg+xml");
											xhr.send("");
											document.getElementById("partnerLogoOA").appendChild(xhr.responseXML.documentElement);
										</script>
									</div>OpenAdaptronik
								</a>
							</div>
							<div class="col s12 m4 l4">
								<a href="https://www.lbf.fraunhofer.de/" target="_blank">
									<div id="partnerLogoFLBF" href="#" class="partnerSvg-container hide-on-small-only">
										<img src="img/flbf-logo.png" />
									</div>Fraunhofer LBF
								</a>
							</div>
							<div class="col s12 m4 l4">
								<a href="https://www.tu-darmstadt.de/" target="_blank">
									<div id="partnerLogoTUD" href="#" class="partnerSvg-container hide-on-small-only">
										<script>
											xhr = new XMLHttpRequest();
											xhr.open("GET","img/tud-logo.svg",false);
											xhr.overrideMimeType("image/svg+xml");
											xhr.send("");
											document.getElementById("partnerLogoTUD").appendChild(xhr.responseXML.documentElement);
										</script>
									</div>TU Darmstadt
								</a>
							</div>
						</div>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="">Informationen</h5>
							<a class="" href="about/">Über</a><br/>
							<a class="" href="https://www.openadaptronik.de/kontakt/" target="_blank">Kontakt</a><br/>
							<a class="" href="https://www.openadaptronik.de/impressum/" target="_blank">Impressum</a><br/>
							<a class="" href="https://www.openadaptronik.de/datenschutzerklaerung/" target="_blank">Datenschutz</a><br/>
							<a class="" href="license/">Lizenz</a><br/>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2017-2018 OpenAdaptronik und das Rattler-Team. Veröffentlicht unter der MIT-Lizenz.
					<!--<a class="right" href="#!">More Links</a>-->
				</div>
			</div>
		</footer>


		
		
		
		
		
<!-- SKRIPTE einbinden -->
		<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="materialize/js/bin/materialize.min.js"></script>
		<script>
		$(document).ready(function($){
			$(function(){
				// fuer Navi
					$('.button-collapse').sideNav({draggable: true});
				// fuer Forms
					$('select').material_select();
					$('input#input_text, textarea#textarea1').characterCounter();
					$('.datepicker').pickadate({
						selectMonths: true, // Creates a dropdown to control month
						selectYears: 15, // Creates a dropdown of 15 years to control year,
						today: 'Heute',
						clear: 'Reset',
						close: 'Ok',
						closeOnSelect: true // Close upon selecting a date,
						/*,onClose: function() {
							$('.datepicker').blur();
						}*/
						// geht not
					});
        
			}); // end of document ready
		}); // end of jQuery name space
		</script>
	</body>
</html>


























