{% extends "base.html" %}
{% load static %}
{% block siteTitle %}Dashboard{% endblock %}
{% block moreStylesheets %}
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    {% include 'includeDefs/javascript-plotly.html' %}
{% endblock %}
{% block container %}
<h2>Willkommen!</h2>
<div class="row">
    <div class="col s12 m12 l6" style="min-width: 300px" id="neueSchwingungsdatenCol">
        <div class="card">
            <!-- action muss eig process:index sein, klappt aber iwie nicht -->
            <form action="{% url 'analysis:index' %}" method="post" enctype="multipart/form-data" id="neueSchwingungsdatenForm">
                <!-- Dinge, die wir python übergeben -->
                {% csrf_token %}
                <textarea style="display: none;" id="jsonHeader" name="jsonHeader"></textarea>
                <textarea style="display: none;" id="jsonEinheiten" name="jsonEinheiten"></textarea>
                <input type="hidden" id="zeitreihenSpalte" name="zeitreihenSpalte"/>
                <textarea style="display: none;" id="jsonData" name="jsonData"></textarea>
                <div class="card-content" id="schritt1-card">
                    <span class="card-title">Neue Schwingungsdaten analysieren</span>
                    <p>
                        <div class="processSteps">
                            <ul>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div><span style="display: inline-block">Schritt 1: 
                            <b>Hochladen & Visualisieren</b></span>&emsp;<span style="display: inline-block">
                                <a href="{% url 'dashboard:index' %}">Von vorne beginnen</a>
                            </span>
                    </p>
                    <div class="divider"></div>
                    <div class="section" id="dataUploadSection" style="padding-bottom:0">
                        <p>
                            <b>Datei hochladen</b>
                        </p>
                        <p>
                            <div class="row" style="margin:0"><!--<div class="col s8" style="border: 2px dashed #ccc; text-align: center;">Datei hier hinziehen<br/>oder<br/><button>In Ordner auswählen...</button></div>-->
                                <div class="col s8 dropzone dz-clickable" id="dropzoneDiv" style="">
                                        <div class="dz-message">
                                            Daten hier hinziehen oder klicken um hochzuladen.
                                        </div>
                                </div>
                                <div class="col s4"><a href="xyz.html">Wie muss die Datei aufgebaut sein?</a></div>
                            </div>
                        </p>
                    </div>

                    <div class="divider datensatzInformationenFelder" style="display:none;"></div>
                    <div class="section datensatzInformationenFelder" style="display:none;">
                        <div class="input-field">
                            <input id="datensatzName" name="datensatzName" type="text" data-length="40"/>
                            <label for="datensatzName">Name des Datensatzes</label>
                        </div>
                        <div class="input-field">
                            <input style="z-index: 500; position: relative;" id="erfassungsDatum" name="erfassungsDatum" type="text" class="datepicker">
                            <label for="erfassungsDatum">Datum der Erfassung</label>
                        </div>
                        <div class="switch">
                            <label>
                                Experiment nach Analyse löschen
                                <input type="checkbox" checked="" name="saveExperiment">
                                <span class="lever"></span>
                                Experiment speichern
                            </label>
                        </div>
                        <!-- @TODO falls switch oben true ist, muss hier noch ein Switch für öffentlich/privat erscheinen -->
                    </div>
                </div>
                <div class="card-action" id="neueSchwingungsdatenCardAction" style="display: none;">
                    <button class="btn waves-effect waves-light" type="submit" style="position: relative; z-index: auto;">nächster Schritt <i class="material-icons right">send</i></button>
                    <button class="btn-flat waves-effect" type="reset" style="position: relative; z-index: auto;">alle Felder löschen</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col s12 m12 l6" style="min-width: 300px">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Meine Schwingungsdaten</span>
                <p>Die letzten 5 von Ihnen hochgeladenen Schwingungsdatensätze.</p>
            </div>
            <div class="card-action">
                <a href="#">Alle meine Schwingungsdaten anzeigen</a>
            </div>
        </div>

                <div class="card-action">
                    <a href="{% url 'projects:new' %}" class="btn waves-effect waves-light" type="submit">Neues Projekt anlegen<i class="material-icons left"></i></a>
                </div>


               <!-- <div class="card-action">
                    <form action="/createExperiment">
                        <button class="btn waves-effect waves-light" type="submit">Neues Experiment anlegen<i class="material-icons left"></i></button>
                    </form>
                </div>-->

        Meine Projekte:
                        <ul>
                        {% for project in my_projects %}
                            <li> {{ project }}
                            </li>
                        {% endfor %}
                        </ul>

        <!--<div class="card">
            <div class="card-content">
                <span class="card-title">Eriks Plotly Playground</span>
                <div id="graph"></div>

                    <script>
                        /*
                        document.getElementById('graph').on('plotly_click', function(data) {
                        alert(data.points[0].x)
                        });
                        */
                    </script>
            </div>
            <div class="card-action">
                <a href="#">ACTION</a>
            </div>
        </div>-->
    </div>
</div>

{% endblock %}
{% block sideNavBlock %}
    {% include 'includeDefs/sideNav.html' %}
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
    <script type="text/javascript" src="{% static 'dropzone/dropzone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'papaparse/papaparse.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'process/dashboard.js' %}"></script>
{% endblock %}