{% extends 'base.html' %}
{% load static i18n %}
{% block siteTitle %}
    Profil &bull; {{profile.user.username}}
{% endblock %}
{% block container %}
<h2 style="">{{profile.user.username}}'s Profil</h2>
{% if profile.user == user %}
    <div class="card-action">
        <a class="btn waves-effect waves-light" href="{% url 'profile:delete_account' %}">Meinen Account löschen</a>
    </div>
{% endif %}
<div class="row">
    <div class="col s12 card">
        <div class="card-content row">
            <!--<span class="card-title">Meine Projekte</span>-->
            <div class="col l2 m4 s12">
                {% if profile.profileimage and profile.profileimage.path %}
                <img class="center" style="max-width: 100%; max-height: 100%" src="/{{ profile.profileimage.path.url }}">
                {% else %}
                <img class="center" style="max-width: 100%; max-height: 100%" src="{% static 'img/user.png' %}">
                {% endif %}
            </div>
            <div class="col l10 m8 s12">
                <ul class="collection with-header" style="margin-bottom:0">
                    {% if profile.visibility_first_name or profile.visibility_last_name %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">person</i>
                        <span class="title">Name</span>
                        <p>
                            {% if profile.visibility_first_name %}
                                {{profile.user.first_name}} 
                            {% endif %}
                            {% if profile.visibility_last_name %}
                                {{profile.user.last_name}}
                            {% endif %}
                        </p>
                    </li>
                    {% endif %}
                    {% if profile.visibility_mail %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">email</i>
                        <span class="title">E-Mail-Adresse</span>
                        <p><a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a></p>
                    </li>
                    {% endif %}
                    {% if profile.visibility_company and profile.company %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">work</i>
                        <span class="title">Institution / Firma</span>
                        <p>{{profile.company}}</p>
                    </li>
                    {% endif %}
                    {% if profile.visibility_info and profile.info %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">info</i>
                        <span class="title">Beschreibung</span>
                        <p>{{profile.info}}</p>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 card">
        <div class="card-content">
            <span class="card-title">Projekte von {{profile.user.username}}</span>

            {% if last_projects %}
                <table class="striped highlight responsive-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'name' %}</th>
                            <th>{% trans 'category' %}</th>
                            <th>{% trans 'subcategory' %}</th>
                            <th>{% trans 'manufacturer' %}</th>
                            <th>{% trans 'typ' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in last_projects %}
                            <tr>
                                <td>{{project.id}}</td>
                                <td>{{project.name}}</td>
                                <td>{{project.category}}</td>
                                <td>{{project.subcategory}}</td>
                                <td>{{project.manufacturer}}</td>
                                <td>{{project.typ}}</td>
                                <td><a href="{% url 'projects:detail' id=project.id name=project.name|urlencode %}"><i class="material-icons">arrow_forward</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{profile.user.username}} hat noch keine Projekte angelegt.
            {% endif %}


        </div>
        <div class="card-action">
            <a href="{% url 'projects:index' %}">Alle Projekte anzeigen &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}