{% extends 'base.html' %}
{% block siteTitle %}Profil - {{ user.username }}{% endblock %}

{% block container %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 13 card" style="min-width: 300px">
                {% if user.profile and user.profile.profileimage and user.profile.profileimage.path %}
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                {% else %}
                    <div class="card-content">
                        <span class="card-title">{{user.username}}</span>
                    </div>
                {% endif %}



                

                    
            </div>
        </div>
    </div>



    <dl>
        <dt>Username</dt>
        <dd>{{ user.username }}</dd>

        {% if user.profile %}
            {% if user.profile.profileimage and user.profile.profileimage.path %}
                <dt>Profile Image</dt>
                <dd><img src="/{{ user.profile.profileimage.path.url }}" alt="{{ user.username }}" width="100" ></dd>
            {% endif %}


            {% if user.profile.visibility_mail%}
                <dt>E-Mail</dt>
                <dd>{{ user.mail }}</dd>
            {% endif %}

            {% if user.profile.visibility_company and  user.profile.company %}
                <dt>Company</dt>
                <dd>{{ user.profile.company }}</dd>
            {% endif %}
            
            {% if user.profile.visibility_info and  user.profile.info %}
                <dt>Info</dt>
                <dd>{{ user.profile.info }}</dd>
            {% endif %}

        {% endif %}
    </dl>
{% endblock %}