{% extends 'base.html' %}

{% block siteTitle %}Einstellungen &bull; {{ user.username }}{% endblock %}

{% load static %}

{% block container %}
<div class="section">
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col s12 m10 offset-m1" style="min-width: 300px;">
                    <h2>{{user.username}} &bull; Einstellungen</h2>
                    <div class="card">
                        <div class="card-image">

                            {% if user.profile and user.profile.profileimage and user.profile.profileimage.path %}
                                <img src="/{{ user.profile.profileimage.path.url }}" id="profile_image">
                            {% else %}
                                <div style="height: 100px; background: url('{% static 'img/dark_stripes.png' %}')" id="profile_image_placeholder"></div>
                                <img id="profile_image">
                            {% endif %}

                            <span class="card-title">{{user.username}}</span>
                                {% if user.profile.profileimage and user.profile.profileimage.path %}
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red right" href={% url 'profile:delete_image' %}><i class="material-icons">delete</i></a>
                                {% endif %}
                            <label for="id_profileimage-0-path">
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red left "><i class="material-icons">edit</i></a>
                            </label>
                        </div>       
                       <br>
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="email" {% if user.email %}value="{{user.email}}"{% endif %} placeholder="E-Mail" id="mail" disabled class="validate">
                                    <label for="mail">E-Mail</label>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="visibility_mail" {% if user.profile.visibility_mail %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Sichtbarkeit
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <a class="btn waves-effect waves-light" type="button" href="{% url 'profile:change_email' %}">E-mail ändern<i class="material-icons left">email</i></a>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" {% if user.first_name %}value="{{user.first_name}}"{% endif %} id="first_name" class="validate"  name="first_name">
                                    <label for="first_name">Vorname:</label>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="visibility_first_name" {% if user.profile.visibility_first_name %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Sichtbarkeit
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" {% if user.last_name %}value="{{user.last_name}}"{% endif %} id="last_name" class="validate"  name="last_name">
                                    <label for="last_name">Nachname:</label>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="visibility_last_name" {% if user.profile.visibility_last_name %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Sichtbarkeit
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" {% if user.profile.company %}value="{{user.profile.company}}"{% endif %} id="company" class="validate"  name="company">
                                    <label for="firma">Firma/Institution:</label>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="visibility_company" {% if user.profile.visibility_company %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Sichtbarkeit
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" {% if user.profile.info %}value="{{user.profile.info}}"{% endif %} id="company" class="validate"  name="info">
                                    <label for="firma">Weitere Informationen:</label>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="visibility_info" {% if user.profile.visibility_info %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Sichtbarkeit
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="expert" {% if user.profile.expert %} checked {% endif %} value="1">
                                            <span class="lever"></span>
                                            Experten-Modus
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <span style="display:none">
                                    {{ profile_image.management_form }}
                                    {% for form in profile_image.forms %}
                                        {{form}}
                                    {% endfor %}
                            </span>
                            

                        </div>    
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit"name="saveUser">Speichern<i class="material-icons left">save</i></button>
                            {{ change }}
                            <a class="btn waves-effect waves-light" type="button" href="{% url 'profile:change_password' %}">Passwort ändern<i class="material-icons left">lock</i></a>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>

{% load defer %}
{% defer_html %}
<script>
    $(document).ready(function() {
        var VALID_FILETYPE = new RegExp('^image/.*');
        $('#id_profileimage-0-path').change(function(e) {
            if (this.files.length != 1) {
                return;
            }
            var file = this.files[0];
            if (!VALID_FILETYPE.test(file.type)) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile_image_placeholder').remove();
                $('#profile_image').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        });
    });
</script>
{% end_defer_html %}
{%endblock %}