{% load static %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">Partner</h5>
                <div class="row partnerLinks">
                    <div class="col s12 m4 l4">
                        <a href="https://www.openadaptronik.de/" target="_blank">
                            <div id="partnerLogoOA" href="#" class="partnerSvg-container hide-on-small-only">
                                {% include 'svg/oa-logo.svg' %}
                            </div><span class="hide-on-med-and-up">OpenAdaptronik</span>
                        </a>
                    </div>
                    <div class="col s12 m4 l4">
                        <a href="https://www.lbf.fraunhofer.de/" target="_blank">
                            <div id="partnerLogoFLBF" href="#" class="partnerSvg-container hide-on-small-only">
                                <img src="{% static 'img/flbf-logo.png' %}" />
                            </div><span class="hide-on-med-and-up">Fraunhofer LBF</span>
                        </a>
                    </div>
                    <div class="col s12 m4 l4">
                        <a href="https://www.tu-darmstadt.de/" target="_blank">
                            <div id="partnerLogoTUD" href="#" class="partnerSvg-container hide-on-small-only">
                                {% include 'svg/tud-logo.svg' %}
                            </div><span class="hide-on-med-and-up">TU Darmstadt</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="">Informationen</h5>
                    <a class="" href={% url 'about' %}>Über</a><br/>
                    <a class="" href="https://www.openadaptronik.de/kontakt/" target="_blank">Kontakt</a><br/>
                    <a class="" href="https://www.openadaptronik.de/impressum/" target="_blank">Impressum</a><br/>
                    <a class="" href="https://www.openadaptronik.de/datenschutzerklaerung/" target="_blank">Datenschutz</a><br/>
                    <a class="" href={% url 'license' %}>Lizenz</a><br/>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017-2018 OpenAdaptronik und das Rattler-Team. Veröffentlicht unter der MIT-Lizenz.
            <!--<a class="right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
