<script>
$(document).ready(function($){
    $(function(){
        // fuer Forms
            $('select').material_select();
            $('input#input_text, textarea#textarea1').characterCounter();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Heute',
                clear: 'Reset',
                close: 'Ok',
                closeOnSelect: true // Close upon selecting a date,
                /*,onClose: function() {
                    $('.datepicker').blur();
                }*/
                // geht not
            });
    }); // end of document ready
}); // end of jQuery name space
</script>