{% load static %}
<!--
Parameter mit GET übergeben:
    navi==1 => damit responsive Navigation auf Seiten funktioniert
    forms==1 => damit die Form-Elemente von materializeCss genutzt werden koennen
-->

<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
$(document).ready(function($){
    $(function(){
        // fuer Navi
            $('.button-collapse').sideNav({draggable: true});
    }); // end of document ready
}); // end of jQuery name space
</script>