{% load static %}
    <!-- Menu-Symbol fuer SideNav -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% if user.is_authenticated %}
    <!-- Haupt-Navigation auf grossem Bildschirm -->
        <ul id="nav" class="left hide-on-med-and-down">
            <li class="{% if request.resolver_match.namespaces.0 == 'dashboard' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li class="{% if request.resolver_match.namespaces.0 == 'projects' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'projects:index' %}">Meine Projekte</a></li>
            <li class="{% if request.resolver_match.namespaces.0 == 'community' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'community:index' %}">Community</a></li>
        </ul>
    <!-- Profil-Menue -->
        <a class='dropdown-button right dropdown-profile-avatar' href='javascript:void(0);' data-activates='dropdown-profile' data-alignment="right" data-belowOrigin="true" data-hover="true" data-constrainWidth="false">
            {% if user.profile and user.profile.profileimage and user.profile.profileimage.path %}
                <img src="/{{ user.profile.profileimage.path.url }}">
            {% else %}
                <img src="{% static 'img/user.png' %}">
            {% endif %}
        </a>
        <ul id='dropdown-profile' class='dropdown-content'>
            <li><a href="{% url 'profile:index' %}">
                <i class="material-icons">person</i>
                <div>Profil anzeigen</div>
            </a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">
                <i class="material-icons">vpn_key</i>
                <div>Admin-Bereich</div>
            </a></li>
            {% endif %}
            <li><a href="{% url 'profile:edit' %}">
                <i class="material-icons">settings</i>
                <div>Einstellungen</div>
            </a></li>
            <li><a href="{% url 'logout' %}">
                <i class="material-icons">power_settings_new</i>
                <div>Logout</div>
            </a></li>
        </ul>
{% else %}
    <ul id="nav" class="left hide-on-med-and-down">
        <li class="{% if request.resolver_match.namespaces.0 == 'register' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'register:index' %}"><a href="{% url 'register:index' %}">Registrieren</a></li>
        <li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a href="{% url 'login' %}">Login</a></li>
    </ul>
{% endif %}
<!-- Hilfe-Button -->
    <ul id="nav" class="right hide-on-med-and-down">
        <li><a href="{% url 'help' %}"><i class="material-icons">help</i></a></li>
    </ul>