{% load static %}
{% if user.is_authenticated %}
    <ul id="nav-mobile" class="side-nav" style="">
        <li class="{% if request.resolver_match.namespaces.0 == 'dashboard' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'dashboard:index' %}"><i class="material-icons">home</i>Dashboard</a></li>
        <li class="{% if request.resolver_match.namespaces.0 == 'community' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'community:index' %}"><i class="material-icons">people</i>Community</a></li>
        <li class="{% if request.resolver_match.url_name == 'help' %}active{% endif %}"><a href="{% url 'help' %}"><i class="material-icons">help</i>Hilfe</a></li>
    </ul>
{% else %}
    <ul id="nav-mobile" class="side-nav" style="">
        <li class="{% if request.resolver_match.namespaces.0 == 'register' and request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'register:index' %}"><i class="material-icons">person_add</i>Registrieren</a></li>
    </ul>
{% endif %}
