{% extends "base.html" %}
{% load static %}
{% block siteTitle %}{{ title }}{% endblock %}
{% block moreStylesheets %}
{% endblock %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block container %}
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <div class="card-content">
                <div class="card-title">
                        Passwort vergessen? Einfach die E-Mail-Adresse unten eingeben und den Anweisungen zum Zurücksetzen des Passworts in der E-Mail folgen.
                </div>

                <div class="input-field">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn">Mein Passwort zurücksetzen</button>
            </div>
        </form>
    </div>
{% endblock %}