{% extends "base.html" %}
{% load static %}
{% block siteTitle %}E-Mail zum Zurücksetzen abgesendet{% endblock %}
{% block moreStylesheets %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block container %}
    <h2>E-Mail zum Passwort-Zurücksetzen abgesendet</h2>
    <p>
    Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet, sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.
    Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und gegebenenfalls den Spam-Ordner überprüfen.
    </p>
{% endblock %}