[Unit]
Description=rattler daemon
After=network.target

[Service]
User=nginx
Group=www-data
WorkingDirectory=/usr/share/nginx/rattler
ExecStart=/usr/share/nginx/rattler/venv/bin/uwsgi --ini /etc/uwsgi/vassals/rattler.ini

[Install]
WantedBy=multi-user.target