<div class="section">
	<div class="container">
		<h2>{{username}} &bull; Profil</h2>
		<div class="row">
			<form>
				<div class="col s12 m12 13" style="min-width: 300px">
					<div class="card">
						<div class="card-content">
							<p>
								<div class="input-field col s12">
									<label for="user_name">User-Name: </label>{{username}}
								</div>
								<table>
									<tr>
										<td>
											<div class="input-field col s12">
												<label for="e_mail">E-mail: </label>{{email}}
											</div>
										</td>

									</tr>
								</table>
								<table>
									<tr>
										<td>
											<div class="input-field col s12">
												<label for="firma">Firma/Institution: </label>{{firma}}
											</div>
										</td>
									</tr>
								</table>
								<table>
									<tr>
										<td>
											<div class="input-field col s12">
												<label for="adresse">Kontaktinformation/Adresse: </label>{{infos}}
											</div>
										</td>
									</tr>
								</table>
							</p>
			</form>
			</div>
			</div>
			</div>
