{% extends "template.html" %}
{% block content %}
    <table border="1" width="100%">
        <thead>
            <th>ID</th>
            <th>Count</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for c in counter %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.status }}</td>
                    <td>
                        <a href="/counter/add/{{ c.id }}">++</a>
                        <a href="/counter/sub/{{ c.id }}">--</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

