{% extends "base.html" %}
{% load static %}
{% block siteTitle %}@TODO BITTE TITEL EINFÜGEN{% endblock %}
{% block moreStylesheets %}
{% endblock %}
{% load materialize i18n defer %}

{% block container %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div class="card">
        <div class="card-content">
            <span calss="card-title">Neues Projekt anlegen</span>
            {{form|materialize}}

            <div class="row">
                <div class="col s12">
                    {% trans 'project images'%}:
                </div>
            </div>

            <div class="row">
                {{ project_image.management_form }}
                {% for form in project_image.forms %}

                    <div class="col s4" data-toggle="project-image" data-index="{{forloop.counter0}}" {% if forloop.counter0 > 0%}style="display:none"{% endif %}>
                        <div style="display:none">{{ form }}</div>
                        <label for="{{ form.path.id_for_label }}" id="label-{{ form.path.id_for_label }}">
                            <span class="btn-floating btn-large waves-effect waves-light">
                                <i class="material-icons medium">add</i>
                            </span>
                        </label>
                    </div>

                {% endfor %}
            </div>



                
            </div>
        </div>                    
        <div class="card-action">
            {% materialize_form_submit_btn %}
        </div>
    </div>

    <span style="display:none;">
            
            
    </span>
</form>

{% defer_html %}
    <script>
        $(document).ready(function() {
            var VALID_FILETYPE = new RegExp('^image/.*');
            $inputs = $('[data-toggle="project-image"] input[type="file"]');
            $inputs.on('change', function(e) {
                if (this.files.length != 1) {
                    return;
                }
                var file = this.files[0];
                if (!VALID_FILETYPE.test(file.type)) {
                    return;
                }
                var reader = new FileReader();
                var id = this.id;
                var $label = $('#label-' + id);
                var index = $(this).parents('[data-toggle="project-image"]').data('index');
                var $next = $('[data-toggle="project-image"][data-index="' + (index + 1) + '"]');

                reader.onload = function (e) {
                    var $img = $('<img>');
                    $img.attr('src', e.target.result);
                    $img.css('width', '100%');
                    $label.html($img);
                    $next.css('display', '')
                }
                reader.readAsDataURL(file);
            });
        });

    </script>

    <script>
        $(document).ready(function() {
            var $category = $('#id_category');
            var $subCategory = $('#id_subcategory');
            var $newSubCategory = $('#id_new_subcategory');
            $container = $newSubCategory.parents('.row');
            var init = true;

            function loadSubCategories() {
                var path = '/projects/categories/';
                path += $category.val();
                $.ajax(path).done(function(data) {
                    $subCategory.html(data);
                    $subCategory.material_select();
                });
            }

            function toggleSubCategory() {
                if ($subCategory.val() == '0') {
                    $container.css('display', '');
                } else {
                    $container.css('display', 'none');
                }
            }

            function toggleCategory() {
                if ($category.val() == '') {
                    $subCategory.val('');
                    toggleSubCategory();
                    $subCategory.attr('disabled', true);
                } else {
                    loadSubCategories();
                    $subCategory.removeAttr('disabled');
                }
                $subCategory.material_select();
                init = false;
            }

            toggleCategory();
            $category.on('change', toggleCategory);
            toggleSubCategory();
            $subCategory.on('change', toggleSubCategory);

        });
    </script>
{% end_defer_html %}
{% endblock %}

