{% extends 'base.html' %}
{% block siteTitle %}Registrieren{% endblock %}

{% block container %}
<div class="card">
    {% if form.errors %}
        <div class="card-content deep-orange orange darken-1">
            Ihre Eingaben sind nicht korrekt.
        </div>
    {% endif %}

    <form method="post" action="{% url 'register:index' %}">
        {% csrf_token %}
        <div class="card-content">
            <span class="card-title">Jetzt Regestrieren</span>
            
            {% for field in form %}
                <div class="input-field">
                    {{ field }}
                    <label for="{{field.id_for_label}}" {% if field.errors%}data-error="{{field.errors|first}}"{% endif %}>{{ field.label}}</label>
                </div>
            {% endfor %}

        </div>
        <div class="card-action">
            <button type="submit" class="waves-effect waves-light btn">Registrieren</button>
        </div>
    </form>
</div>
{% endblock %}