{% extends "base.html" %}
{% load static %}
{% block siteTitle %}Quiver{% endblock %}
{% block moreStylesheets %}
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    {% include 'includeDefs/javascript-plotly.html' %}
{% endblock %}
{% block naviSpace %}
    {% include 'includeDefs/normalNavi.html' %}
{% endblock %}
{% block container %}

<form method="post">
    {% csrf_token %}
    <h2>Quiver</h2>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="section">
                        <div id="firstGraph"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="section">
                        <span class="card-title">Applikationsdaten</span>
                        <input name="application_name" placeholder="Name">
                        <input name="service_url" placeholder="Service URL">
                        <input name="api_key" placeholder="API Key">
                        <input name="application_description" placeholder="Description">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="section">
                        <span class="card-title">Parameters</span>
                        <table id="parameterTable" class="striped highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Einheit</th>
                                    <th>Beschreibung</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                        <tr>
                                            <td><input name="parameter_name"></td>
                                            <td>
                                                <select style='width: 100%' name="parameter_einheit">
                                                    <option></option>
                                                    <option value='int'>Integer</option>
                                                    <option value='float'>Float</option>
                                                    <option value='bool'>Boolean</option>
                                                    <option value='str'>String</option>
                                                </select>
                                            </td>
                                            <td>
                                            <input name="parameter_description">
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                            <div class="card-action">
                            <button type="button" class="btn waves-effect waves-light" id="addParameter">Parameter hinzufügen</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block sideNavBlock %}
    {% include 'includeDefs/sideNav.html' %}
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
    {% include 'includeDefs/jquery-validation.html' %}
    <script>
        var spaltenTitel = JSON.parse('{{ jsonHeader|safe }}');
        var spaltenEinheiten = JSON.parse('{{ jsonEinheiten|safe }}');
        var dataArray = JSON.parse('{{ jsonData|safe }}');
        var zeitreihenSpalte = {{ jsonZeitreihenSpalte|safe }};
        var anzSpalten = dataArray[0].length;
        var graphVisibility = JSON.parse('{{ graphVisibility|safe }}');
    </script>
    <script type="text/javascript" src="{% static 'quiver/index.js' %}">
            </script>
    <script type="text/javascript" src="{% static 'quiver/validation.js' %}">
            </script>
{% endblock %}
