{% extends "base.html" %}
{% block siteTitle %}Start{% endblock %}
{% block container %}
    {% load i18n %}
    <!--{% trans "Test" %}-->
    <!--<h1>{% if user.is_authenticated %}{{user.username}}{% endif %}</h1>-->
    <h3>Von Deinen Schwingungs&shy;daten zur besten Schwingungs&shy;dämpfung.</h3>
    <div class="row">
        <div class="col l8 s12">
            <div class="card">
                <div class="row card-content promo-row">
                    {% include 'includeDefs/promoRow.html' %}
                </div>
            </div>
            <h3>Alles kostenlos und im Browser.</h3>
        </div>
        {% if not user.is_authenticated %}
        <div class="col l4 s12">
            {% include 'registration/forms/login.html' with form=login_form %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block sideNavBlock %}
    {% include 'includeDefs/sideNav.html' %}
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
{% endblock %}