{% extends "base.html" %}
{% block siteTitle %}Start{% endblock %}
{% block naviSpace %}
    {% include 'includeDefs/indexNavi.html' %}
{% endblock %}
{% block container %}
    <!--<h1>{% if user.is_authenticated %}{{user.username}}{% endif %}</h1>-->
    <h3>Von Deinen Schwingungs&shy;daten zur besten Schwingungs&shy;dämpfung.</h3>
    <div class="card">
        <!-- TODO: Schritte über die ersten 3 Bilder!
        http://materializecss.com/badges.html
        -->
        <div class="row card-content promo-row">
            <!--<div class="col s12 m12 l3" style="/*min-width: inherit;*/">
                <div class="promo-pic-space">csv duifgsdi soijdfi 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764; 1.684645, 684648; 1.6546846, 87764;</div>
                <h5>Daten hochladen</h5>
                Als .csv
            </div>
            <div class="col s12 m12 l3" style="/*min-width: inherit;*/">
                <div class="promo-pic-space">Bild von einem Grapheng</div>
                <h5>Visualisieren &amp; Analysieren</h5>
            </div>
            <div class="col s12 m12 l3" style="/*min-width: inherit;*/">
                <div class="promo-pic-space">Bild von Empfehlungen</div>
                5 Empfehlungen zur
                <h5>Open&shy;Source-Schwingungs&shy;minderung</h5>
            </div>
            <div class="col s12 m12 l3" style="/*min-width: inherit;*/">
                <div class="promo-pic-space">Feed (nice2have: fullscreen-tauglich)</div>
                Schwingungsdaten
                <h5>teilen &amp; vergleichen</h5>
            </div>-->
            <span style="color: #d00">Es handelt sich um eine Beta-Version. Wichtige Hinweise zur jetzigen Benutzung geben wir in dieser Farbe.</span>
        </div>
    </div>
    <h3>Alles kostenlos und im Browser.</h3>
    <div class="row">
        <div class="col s12 m12 l8">
            <div class="card">
                <div class="card-content">
                    {% block register %}
                        <span style="color: #d00">
                            Hier wird später die Registrierung möglich sein.
                            Bitte dazu vorerst auf den Button oben links klicken.
                        </span>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            {% include 'registration/forms/login.html' with form=login_form %}
        </div>
    </div>
{% endblock %}
{% block moreScripts %}
    {% include 'includeDefs/javascript-forms.html' %}
{% endblock %}