{% load i18n %}
<h2>{%trans 'project' %}</h2>
<dl>
    <dt><b>{% trans 'user' %}</b> <a href="{% url 'profile:detail' name=object.user.username %}">{{ object.user.username }}</a></dt>

    <dt><b>{% trans 'name' %}</b> {{ object.name }}</dt>

    <dt><b>{% trans 'category' %}</b> {{ object.category }}</dt>

    <dt><b>{% trans 'subcategory' %}</b> {{ object.subcategory }}</dt>

    <dt><b>{% trans 'manufacturer' %}</b> {{ object.manufacturer }}</dt>

    <dt><b>{% trans 'typ' %}</b> {{ object.typ }}</dt>

    <dt><b>{% trans 'description' %}</b> {{ object.description }}</dt>

    <dt><b>{% trans 'created' %}</b> {{ object.created }}</dt>

    {% if object.user == user %}
    <a href="{% url 'projects:edit' object.id %}">{% trans 'edit' %}</a>
{% endif %}

</dl>
<h2>{%trans 'experiments' %}</h2>
{% if not experiment is None %}
{% for experiment in object.experiment_set.all %}
    <dt><b>{% trans 'id' %}</b> {{ experiment.id }}</dt>
    <dt><b>{% trans 'name' %}</b> {{ experiment.name }}</dt>
    <dt><b>{% trans 'created' %}</b> {{ experiment.created }}</dt>
    <dt><b>{% trans 'description' %}</b> {{ experiment.description }}</dt>
    <a href="{% url 'experiments:index' %}">Dieses Experiment wiederholen</a>
    <hr>

{% endfor %}
{% endif %}
{% if object.user == user %}
    <a href="{% url 'projects:edit' object.id %}">{% trans 'edit' %}</a>
{% endif %}
<a href="{% url 'experiments:new' object.id %}">Neues Experiment</a>

