<div class="section">
  <div class="container">
    <h2> Details Projekt {{project.name}}</h2>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <div class="col s12 m12 13" style="min-width: 300px">
          <div class="card">
            <ul>
              <p>{{project.category}}</p>
                <p>{{project.subcategory}}</p>
                  <p>{{project.manufacturer}}</p>
                    <p>{{project.typ}}</p>
                      <p>{{project.description}}</p>
              {% for experiment in project %}
              <p> <a href="{% url 'profile:profile' name=experiment %}">{{ experiment }}</a></p>
              <!--nicht auf Profile sondern auf Experiment verlinken-->
              <p>{{experiment.performed_on}}</p>
              {% endfor %}
            </ul>
            <div class="card-action">
              <form action="/create">
                <button class="btn waves-effect waves-light" type="submit">Neues Experiment anlegen<i class="material-icons left"></i></button>
              </form>
            </div>

            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
