<div class="section">
  <div class="container">
    <h2> Meine Projekte</h2>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <div class="col s12 m12 13" style="min-width: 300px">
          <div class="card">
            <ul>
            
              {% for project in my_projects %}
              <p> <a href="{% url 'profile:profile' name=project %}">{{ project }}</a>
                <p>erstellt am {{project.created}}</p></p>
              <!--nicht auf Profile sondern auf Experiment verlinken-->
              {% endfor %}
            </ul>
            <div class="card-action">
              <form action="/projects">
                <button class="btn waves-effect waves-light" type="submit">Neues Projekt anlegen<i class="material-icons left"></i></button>
              </form>
            </div>

            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
