<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }} - Rattler</title>
    {% else %}
        <title>Schwingungsdaten Analyse Rattler</title>
    {% endif %}
</head>
<body>
    <h1>Links</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/counter">Counter</a></li>
        <li><a href="/counter/new">New Counter</a></li>
    </ul>
    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>