[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=nginx
Group=www-data
WorkingDirectory=/usr/share/nginx/rattler
ExecStart=/usr/share/nginx/rattler/venv/bin/gunicorn -k eventlet --workers 9 --worker-connections 1001 --timeout 360 --bind unix:/usr/share/nginx/rattler/rattler.sock --error-logfile /var/log/gunicorn/error.log --log-file /var/log/gunicorn/console.log --log-level error rattler.wsgi:application

[Install]
WantedBy=multi-user.target